@{
    ViewData["Title"] = "Perfil";
}

<h1>@ViewData["Title"]</h1>
<p>Nombre: kenner david rodriguez gonzalez</p>
<p>Edad: 21</p>
<img src="~/img/anm8305.jpg" style= "width: 500px"/>
<p>Carrera: Ingeniería en Sistemas de la Información </p>